@model WebSiteIdentityHTTP.Models.UserRegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="alert alert-success">
    <div class="text-right">
    <h2>!عزیز @Model.Username </h2>
    <p >ارسال شد"@Model.Email"ثبت نام شما با موفقیت انجام شد ، ایمیلی حاوی لینک فعالسازی به ایمیمل   .</p>
    <p>جهت ادامه ثبت نام وارد ایمیل خود شوید و روی لینک کلیک کنید .</p>
</div>

</div>